@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

* {
  text-align: center;
}

tbody,
tr,
td {
	width: 200px;
  height: 200px;
  border: ridge;
  background-color: #3f9cdd;
}

img {
  width: 200px;
}
