@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

* {
  text-align: center;
}
.tableImg{
  position: relative;
  top: 850px;
}

tbody,
tr {
  width: 500px;
  height: 500px;
}

tbody,
tr,
td {
  width: 40px;
  height: 40px;
  border: ridge;
  background-color: #3f9cdd;
}

img {
  width: 25px;
}

.col-md-2 {
  margin-top: 25%;
}

.hidden {
  display: none;
}
