doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My Title
    link(rel='stylesheet', href='css/main.css')
  body
      <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    .container

      .row
        h1 BattleWich!!!
        .col-md-2
          .btn-group-vertical
              button(class="setPeice" id="setVertical" type="button" class="btn btn-default" value="Vertical") Vertical
              button(class="setPeice" id="setHorizontal" type="button" class="btn btn-default" value="Horizontal") Horizontal

        .col-md-5
          h1 Game Board
          table#table1.gameWrapper.table-bordered


        .col-md-5
          h1 Guess Board
          table#table2.guessWrapper.table-bordered


      // build:js js/vendor.min.js
      // bower:js
      // endbower
      // endbuild

      // build:js js/main.min.js
      script(src="/scripts/index.js")
      // endbuild
